/* Material Icons */
/* Fonts */
/* Colors */
.home {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.home h1 {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.7);
  color: rgba(244, 176, 66, 0.5) !important;
}
.home .img-container {
  overflow: hidden;
  flex: 1;
  height: 550px;
  margin-top: 20px;
}
.home .img-container img {
  max-width: 100%;
  height: 100%;
}
.announcements {
  text-align: center;
}
.announcements .announcement-container {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}
.announcements .announcement-container .selected-announcement {
  padding: 7px;
  min-height: 500px;
  position: relative;
}
.announcements .announcement-container .selected-announcement .ctrlCards {
  position: absolute;
  display: inline-flex;
  top: 0px;
  right: 0px;
  flex-direction: column;
}
.announcements .announcement-container .selected-announcement .ctrlCards .ctrlCard {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  padding: 7px;
  opacity: 0.4;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.announcements .announcement-container .selected-announcement .ctrlCards .ctrlCard + .ctrlCard {
  margin-top: 20px;
}
.announcements .announcement-container .selected-announcement .ctrlCards .ctrlCard:hover {
  opacity: 1;
}
.announcements .announcement-container .selected-announcement .ctrlCards .ctrlCard.removeCard {
  background: #c80000;
}
.announcements .announcement-container .selected-announcement .ctrlCards .ctrlCard.saveCard {
  background: #00c800;
}
.announcements .announcement-container .list-announcements {
  margin-top: 7px;
}
.announcements .announcement-container .list-announcements .list-subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.announcements .announcement-container .list-announcements .list-subcontainer .list-item {
  padding: 2px 7px;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}
.announcements .announcement-container .list-announcements .list-subcontainer .list-item:hover {
  background: rgba(255, 255, 255, 0.4);
}
.announcements .announcement-container .list-announcements .list-subcontainer .list-item.selected {
  border-color: #dcdcdc;
  background: rgba(255, 255, 255, 0.5);
  color: #f4b042;
}
.announcements .announcement-container .list-announcements .list-subcontainer .list-item.add {
  border-color: #2b9130;
  background: #2b9130;
  opacity: 0.4;
  color: #ffffff;
  transition: 0.5s all ease-in-out;
}
.announcements .announcement-container .list-announcements .list-subcontainer .list-item.add:hover {
  opacity: 0.9;
}
.announcements .announcement-container .list-announcements .list-subcontainer .list-item + .list-item {
  margin-left: 7px;
}
/* Editing Tools */
.uploadContainer {
  position: absolute;
  top: 7px;
  left: 7px;
}
.uploadContainer .img-input {
  display: none;
  cursor: pointer;
}
.uploadContainer .uploadImg {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  padding: 7px;
  background: #f4b042;
  opacity: 0.4;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.uploadContainer .uploadImg:hover {
  opacity: 1;
}
.h-form {
  background: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  text-align: inherit;
  width: 100%;
  overflow: hidden;
}
.h-form.noSz {
  resize: none;
}
.h-form:focus,
.h-form.empty {
  border: 2px dashed rgba(250, 250, 250, 0.3);
}
.add-line {
  border: 2px dashed rgba(250, 250, 250, 0.3);
  display: flex;
  justify-content: center;
  color: #ffffff;
  background: #f4b042;
  opacity: 0.3;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}
.add-line:hover {
  opacity: 1;
}
.add-line span {
  margin-left: 7px;
}
.editLine {
  background: rgba(200, 200, 200, 0.1);
  text-align: center;
  padding: 2px;
  font-size: 10px;
  color: #ffffff;
  margin-top: -10px;
  display: flex;
  justify-content: space-evenly;
}
.editLine .edit-item {
  border-radius: 50%;
  opacity: 0.2;
  padding: 2px 5px;
  cursor: pointer;
}
.editLine .edit-item.remove {
  background: rgba(200, 0, 0, 0.7);
}
.editLine .edit-item.textType {
  background: rgba(109, 100, 82, 0.7);
}
.editLine .edit-item.bold {
  background: rgba(109, 100, 82, 0.7);
}
.editLine .edit-item:hover {
  opacity: 1;
}
.editLine .edit-item + .edit-item {
  margin-left: 10px;
}
/* Card Styles */
.carousel-card {
  background: rgba(96, 87, 99, 0.7);
  display: flex;
  justify-content: space-between;
  padding: 30px;
  max-height: calc(100% - 60px);
  color: #ffffff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.carousel-card.active {
  display: flex;
}
.carousel-card.hidden {
  display: none;
}
.carousel-card.cover-title {
  background: none;
  box-shadow: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  font-size: 75px;
  font-family: 'Homemade Apple', cursive;
}
.carousel-card.img-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.carousel-card.img-card .img-card-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  overflow: hidden;
}
.carousel-card .video-container video {
  width: 100%;
  max-height: 100%;
}
.carousel-card .video-container video.bg-video {
  display: block;
  position: absolute;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.carousel-card .img-container {
  width: 50%;
  overflow: hidden;
  display: inline-block;
  position: relative;
  max-height: 100%;
}
.carousel-card .img-container img {
  max-height: 100%;
  width: 100%;
}
.carousel-card .card-content {
  padding: 10px 10px 10px 30px;
  width: 50%;
  display: inline-block;
}
.carousel-card .card-content .content-title {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
}
.carousel-card .card-content .content-line.h1 {
  font-size: 1.5rem;
}
.carousel-card .card-content .content-line.h2 {
  font-size: 1.1rem;
}
.carousel-card .card-content .content-line.p {
  font-size: 1rem;
}
.carousel-card .card-content .content-line.bold {
  font-weight: bold;
}
.carousel-card .card-content .content-line + .content-line {
  margin-top: 15px;
}
.users {
  text-align: center;
}
.users .management-container {
  padding: 2%;
  position: relative;
  overflow-y: auto;
}
.users .management-container .user-line {
  padding: 10px 7px;
  display: flex;
}
.users .management-container .user-line .input-container {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  min-width: 25%;
  border-radius: 5px;
  border: 2px solid #000000;
}
.users .management-container .user-line .input-container span {
  font-weight: bold;
  font-size: 0.9rem;
  padding-bottom: 2px;
  padding-left: 3px;
}
.users .management-container .user-line .input-container input {
  border: none;
  padding: 3px;
  background: rgba(255, 255, 255, 0.7);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.users .management-container .user-line .input-container + .input-container {
  margin-left: 20px;
}
.users .management-container .user-line .btn-message {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  padding: 7px;
  color: #ffffff;
}
.users .management-container .user-line .btn-message span {
  display: inline;
  padding: 2px 10px;
  border-radius: 20px;
  background: rgba(50, 50, 50, 0.3);
}
.users .management-container .user-line .btn-container {
  flex: 1;
  padding: 7px;
}
.users .management-container .user-line .btn-container .btn {
  padding: 2px 10px;
  border-radius: 20px;
  background: #ffffff;
  color: #ffffff;
  opacity: 0.5;
}
.users .management-container .user-line .btn-container .btn:hover {
  opacity: 1;
}
.users .management-container .user-line .btn-container .btn span {
  margin-left: 7px;
}
.users .management-container .user-line .btn-container .btn.save {
  background: #00c800;
}
.users .management-container .user-line .btn-container .btn.remove {
  background: #c80000;
}
.users .management-container .user-line .btn-container .btn.reset {
  background: #3089c9;
}
.users .management-container .user-line .btn-container .btn + .btn {
  margin-left: 5%;
}
.users .management-container .user-line .btn-container .btn.inactive {
  opacity: 0.2;
  background: rgba(100, 100, 100, 0.8);
  cursor: initial;
}
.users .management-container .user-line .btn-container .btn.inactive:hover {
  opacity: 0.2;
}
.users .management-container .user-line.odd {
  background: rgba(50, 50, 50, 0.2);
}
.users .management-container .user-line.odd .input-container {
  border-color: #ffffff;
}
.users .management-container .user-line.odd .input-container span {
  color: #ffffff;
}
.users .ctrlCards {
  position: absolute;
  display: inline-flex;
  top: 30px;
  right: 5%;
  flex-direction: column;
}
.users .ctrlCards .ctrlCard {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  padding: 7px;
  opacity: 0.4;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.users .ctrlCards .ctrlCard + .ctrlCard {
  margin-top: 20px;
}
.users .ctrlCards .ctrlCard:hover {
  opacity: 1;
}
.users .ctrlCards .ctrlCard.addCard {
  background: #00c800;
}
body,
html {
  margin: 0px !important;
  color: #000000;
  height: 100%;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
*:focus {
  outline: none;
}
#app {
  height: 100vh;
}
.sidenav-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: center;
  display: inline-flex;
  padding: 7px;
  background: #f4b042;
  color: #ffffff;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
}
.dwj-body {
  height: 100%;
  background-color: #b7a796;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23323232' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.dwj-body .content-body {
  border: 3px solid rgba(255, 255, 255, 0.9);
  width: 90%;
  height: 90%;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.5);
  overflow: auto;
}
.dwj-body .content-body .main-body {
  position: relative;
}
.dwj-body .content-body .main-body .page-container {
  padding: 2%;
}
/* Side Nav*/
.sidenav-container {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  padding: 15px;
  color: #ffffff;
}
.sidenav-container .header {
  margin-bottom: 20px;
}
.sidenav-container .nav-content {
  display: flex;
  flex-direction: column;
}
.sidenav-container .nav-content .page-item {
  text-align: center;
  font-size: 1.3rem;
  color: #ffffff;
  padding: 2%;
}
.sidenav-container .nav-content .page-item + .page-item {
  border-top: 1px solid #ffffff;
}
.sidenav-container .nav-content .page-item:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
}
