/* Material Icons */
@mobile-device: ~"(max-width: 770px)";

/* Fonts */
@font-size: 14px;
@iconsize: 25px;
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand|Montserrat|Raleway|Reenie+Beanie');

/* Colors */
@background: rgba(183, 167, 150,1);
.background(@prop,@val){ @{prop}: rgba(183, 167, 150,@val) !important; }

@color1: rgba(205,133,63,1);
.color1(@prop,@val){ @{prop}: rgba(205,133,63,@val) !important; }

@import "home.less";
@import "announcements.less";
@import "users.less";
@import "settings.less";
@import "login.less";

@import "songs.less";

body, html { 
    margin: 0px !important;
    color: rgba(0,0,0,1);
    height: 100%;
    font-size: @font-size;

    font-family: 'Montserrat', sans-serif;
}

*:focus { outline: none;}

#app {
    height: 100vh;
}

.sidenav-btn {
    position: absolute;
    top: 20px;
    left: 20px;

    text-align: center;
    display: inline-flex;
    padding: 7px;
    background: @color1;
    color: rgba(255,255,255,1);
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
}

.dwj-body {
    height: 100%;
    background-color: @background;    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23323232' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    .content-body {
        border: 3px solid rgba(255,255,255,0.9);
        width: 90%;
        height: 90%;
        border-radius: 5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: rgba(255,255,255,0.5);
        overflow: auto;

        .main-body {
            position: relative;
            height: 100%;
            .page-container { padding: 2%;}
        }
    }
}

/* Side Nav*/
.sidenav-container {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding: 15px;
    color: rgba(255,255,255,1);
    
    .nav-header { 
        margin-bottom: 20px;
        display: flex;
        
        .navBtn {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: rgba(255,255,255,1);
            border-radius: 50%;
            padding: 7px;
            opacity: 0.4;
            cursor: pointer;
            background: @color1;
            transition: 0.5s all ease-in-out; 
            margin-right: 7px;                                  
            &:hover { opacity: 1; text-decoration: none;}  
        }
        
    }
    .nav-content {
        display: flex;
        flex-direction: column;
        .page-item { 
            text-align: center;
            font-size: 1.3rem;
            color: rgba(255,255,255,1);
            padding: 2%;
            &+.page-item { border-top: 1px solid rgba(255,255,255,1);}
            &:hover {
                text-decoration: none;
                background: rgba(255,255,255,0.2);
            }

            &.signout { color: @color1; cursor: pointer; }
        }
    }
}
/* Input container */
.input-container {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    width: 55%;

    border-radius: 5px;
    border: 2px solid rgba(0,0,0,1);
    span { 
        font-weight: bold; 
        font-size: .9rem; 
        padding-bottom:2px; 
        padding-left: 3px;  
        &.lrg { font-size: 1.5rem;}                  
    }
    input { 
        border: none; 
        padding: 3px;
        background: rgba(255,255,255,0.7);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        &.readOnly { background: rgba(200,150,100, 0.2)}
    }

    .react-datepicker-wrapper {
        width: 100%;
        .react-datepicker__input-container {
            width: 100%; 
            input { width: 100%; }
        }        
    }
    .links-container {        
        .link-container {
            display: flex;
            input { margin-left: 7px; flex: 1; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;}
            .action-btns { 
                margin-left: 14px; 
                padding-right: 7px;
                cursor: pointer;
                transition: 0.5s all ease-in-out;
                &:hover { color: rgba(200,0,0,0.7); }

                &.add { margin-top: 10px; &:hover { color: rgba(0,150,0,0.7);} }
            }
        }
    }

    &+.input-container { margin-top: 20px;}

    &.nomatch { border-color: rgba(200,0,0,0.7); color: rgba(200,0,0,0.7); }
}

/* Split Editor */
.split-editor {
    display: flex;

    .split {
        width: 50%;
        flex: 1;
        padding: 0 7px;

        .music-list {                     
            .music-item {
                display: flex;
                background: rgba(255,255,255,1);
                padding: 10px 7px;
                &+.music-item { margin-top: 5px;}

                &.new { color: rgba(0,150,0,1);}
                .music-icon {
                    background: rgba(100,100,100,1);
                    color: rgba(255,255,255,1);
                    margin-right: 20px;
                    height: @iconsize;
                    width: @iconsize;
                    border-radius: 50%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: hidden;
                    img{ width: 150%; height: 150%;}

                    &.save-icon { background: rgba(0,0,0,0); color: rgba(0,150,0,1);}
                }
                .music-title {
                    font-weight: bold;
                    font-size: 1.5rem;
                    font-family: 'Reenie Beanie', cursive;
                    cursor: pointer;
                    transition: 0.5s all ease-in-out;
                    &:hover { color: @color1; }
                }

                .music-links-container {
                    display: flex;
                    flex:1;
                    justify-content: flex-end;
                    margin-left: 7px;
                    .link-icon {
                        height: @iconsize;
                        width: @iconsize;
                        border-radius: 5px;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        color: rgba(255,255,255,1);
                        background: rgba(150,150,150,0.9);
                        opacity: 0.5;
                        transition: 0.5s all ease-in-out;

                        &:hover { opacity: 1; text-decoration: none; }

                        &+.link-icon { margin-left: 7px;}
                        &.itunes { background: rgba(105,166,249,0.9); }
                        &.soundcloud { background: rgba(255,119,0,0.9); }
                        &.spinrilla { background: rgba(70,8,86,0.9); }
                    }
                }
            }
        }
    }
}