.ministries {
    .split-editor {
        .song-selector {
            height: 100%;
            overflow-y:auto;
            .ministry-section {
                .sectionTitle {
                    border-bottom: 1px solid rgba(0,0,0,1);
                }

                .ministry-item-list { padding: 5px;}
            }
        }
    }
}