.ministries {
    height: 100%;
    .split-editor {
        height: 90%;
        .song-selector {
            height: 100%;
            overflow-y:auto;
            .ministry-section {
                .sectionTitle {
                    border-bottom: 1px solid rgba(0,0,0,1);
                }

                .ministry-item-list { padding: 5px;}
            }
        }

        .song-editor {
            width: 60%; 
            flex: initial;
            .editor-container {
                .input-container { 
                    width: 100%;
                    &.check {
                        width: 40%;
                        border: none;
                        flex-direction: row;
                        span { margin-right: 10px; }
                    }
                }
            }
        }
    }
}